body{
  padding: 0;
  margin: 0;
  pre{
    margin: 0;
    background-color: yellowgreen;
    font-size: 1rem;
  }
  code{
    background-color: grey;
    border-radius: 2px;
    padding: 2px 8px;
    display: inline-block;
    margin: 0 3px;
  }
}